@model Parser.Auth.ViewModels.OwnerViewModel
<table>
    <tr>
        <th>Username</th>
        <th>Promote</th>
    </tr>

    @foreach (var viewModel in Model.AuthUsers)
    {
        <tr>
            <td>@viewModel.Username</td>
            <td>
                <a class="btn-promote waves-effect waves-light btn" data-username="@viewModel.Username">Promote</a>
            </td>
        </tr>
    }
</table>

@using (Ajax.BeginForm("GetUsersOnPage", new { pageNumber = Model.PageNumber }, new AjaxOptions()
{
    UpdateTargetId = "users",
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "POST"
}, new { id = "update-form" }))
{
    @Html.AntiForgeryToken()
}

@using (Ajax.BeginForm("Index", null, new AjaxOptions()
{
    UpdateTargetId = "promote-result",
    InsertionMode = InsertionMode.Replace,
    HttpMethod = "POST"
}, new { id = "promote-form" }))
{
    @Html.AntiForgeryToken()
    @Html.Hidden("username", "", new { id = "hidden-username" })
}